<div class="box mt-5">
  <div class="my-2 w-25">
    <label for="" class="my-1">Categories :</label>
    <select class="form-control">
      <option value="1">option 1</option>
      <option value="2">option 2</option>
      <option value="3">option 3</option>
      <option value="4">option 4</option>
    </select>
  </div>
  <div class="row">
    <div *ngFor="let item of Products" class="col-md-3 col-sm-12">
      <div class="item">
        <img src="{{ item.image }}" alt="" />
        <div class="body">
          <h4>{{ item.title }}</h4>
          <p>{{ item.Description }}</p>
        </div>
        <div class="px3 mb-2 d-flex justify-content-between align-items-center">
          <button class="btn btn-success">Add to cart</button>
          <span>{{ item.price }} L.E</span>
        </div>
      </div>
    </div>
  </div>
</div>
